AddHandler php5-script .php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/get/ [OR]
RewriteCond %{REQUEST_URI} ^/post/ [OR]
RewriteCond %{REQUEST_URI} ^/put/ [OR]
RewriteCond %{REQUEST_URI} ^/delete/ [OR]
RewriteCond %{REQUEST_URI} ^/textget/
RewriteRule . rest.php [L]
</IfModule>
